@page "/"

<div id="titleAdd">
    Danh sách merchant xxx
    <button>Thêm mới</button>
</div>

<div id="tracuu">
    <Input TValue="string"></Input><Dropdown ></Dropdown> <button>Tra cứu</button>
</div>

<div id="list"></div>

@code {

}
