@page "/"

@* @rendermode InteractiveServer *@

@using BlazorApp2.DTOs
@using BlazorApp2.Service


<Table DataSource="ProductRepository.GetProducts()" TItem="Product">

    <PropertyColumn Property="x => x.Name"
                        Sortable
                        Filterable
                     ShowSorterTooltip="false">
     </PropertyColumn>

     <PropertyColumn Property="x => x.Description"
                        Sortable
                        Filterable
                     ShowSorterTooltip="false">
     </PropertyColumn>

     <PropertyColumn Property="x => x.Price"
                        Sortable
                        Filterable
                     ShowSorterTooltip="false">
     </PropertyColumn>

 </Table>
