@page "/TestComponent"

@using AntDesign

<h3>Form TestComponent Test element AndDesign</h3>

<DatePicker TValue="DateTime?"
Placeholder="@("Chon ngay")"
ShowTime="@true"
AllowClear="false"
Format="dd-MM-yyyy"
Style="width:120px;" />






