@page "/TestComponent"

@using AntDesign

<h3>Form TestComponent</h3>

<DatePicker TValue="DateTime?"
Placeholder="@("Chon ngay")"
ShowTime="@false"
AllowClear="false"
Format="dd-MM-yyyy"
Style="width:120px;" />



