@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
            <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
            <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
            
            @DateTime.Now.ToString("HH:mm dd/mm/yyyy") 
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">
                hant <Image Src="icons/person.png" Style="height:20px;"></Image>                
            </a> 

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
